canvas {
    border: 2px solid black;
}

.grid {
    max-width: 400px;
    margin: 0 auto;
    display: grid;
}

.item {
    margin: 5px;
    text-align: center;
    font-size: 1.5em;
}

.grid-template-columns {
    grid-template-columns: 200px 200px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 10%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.center {
    display: block;
	margin-left: auto;
	margin-right: auto;
    text-align: center;
}